.Nav-logo {
  height: auto;
  width: auto;
  max-width: 64px;
  max-height: 64px;
  float: left;
}

.Nav-item {
  display: inline-block right;
  font-size: 16px;
  line-height: 32px;
}

.dropdown-content {
  font-size: 16px;
  padding: 5px;
}
